<p>Please scan this QR and forward it to the near Canada Post office for the verification.</p>
<div class="container-fluid justify-content-center">
  <img [src]="imageUrl" alt="Image">
  <hr>
  <button (click)="downloadPdf()"> Download PDF </button>
</div>

