<body style="background-color: #e7e7e7;">
<app-header [afterLogin]="true"></app-header>

<div class="container" style="background-color: #e7e7e7;">
  <section id="team" class="team">
    <div class="section-title">
      <span>Interac Transfer</span>
      <h2>Interac Transfer</h2>
    </div>
  </section>
  <div class="row justify-content-center mt-5" style="background-color: #e7e7e7;">
    <div class="col-lg-6 col-md-8 col-sm-15">
      <div class="form-background" style="border-radius: 25px;">
        <h2 class="text-center mb-4" style="color: white">Make a transfer</h2>
        <form class="form-horizontal" [formGroup]="interacForm" (ngSubmit)="onSubmit()">
          <div class="form-row justify-content-center align-items-center">
            <div class="form-group">
              <div class="form-outline mb-6 form-group align-items-center">
                <label for="receiverEmail">To Email:</label>
                <input type="email" id="receiverEmail" class="form-control" formControlName="receiverEmail">
                <p *ngIf="!notLinked"> {{interacFirstName}} {{interacLastName}}</p>
                <p *ngIf="!notLinked">  {{interacBankName}} </p>
                <p *ngIf="notLinked"> {{interacEmailError}} </p>
<!--                <div-->
<!--                  *ngIf="interacForm?.get('receiverEmail')?.invalid && (interacForm?.get('receiverEmail')?.dirty || interacForm?.get('receiverEmail')?.touched)"-->
<!--                  class="alert alert-danger">-->
<!--                  Email is required.-->
<!--                </div>-->
                <div *ngIf="interacForm.get('receiverEmail')?.invalid &&
                (interacForm.get('receiverEmail')?.dirty || interacForm.get('receiverEmail')?.touched)">
                  <div *ngIf="interacForm.get('receiverEmail')?.hasError('required')" class="alert alert-danger">
                    Email is required.
                  </div>
                  <div *ngIf="interacForm.get('email')?.hasError('receiverEmail')" class="alert alert-danger">
                    Please enter a valid email address.
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-row justify-content-center align-items-center">
            <div class="form-group">

              <div class="form-outline mb-4 form-group">
                <label for="amount">Amount:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="number" id="amount" class="form-control" formControlName="amount" [disabled]="amountEnabled">
                </div>
                <div
                  *ngIf="interacForm?.get('amount')?.invalid && (interacForm?.get('amount')?.dirty || interacForm?.get('amount')?.touched)"
                  class="alert alert-danger">
                  Amount is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row justify-content-center align-items-center">
            <div class="form-group">

              <div class="form-outline mb-4 form-group">
                <label for="message">Message:</label>
                <textarea id="message" class="form-control" formControlName="message" rows="1" cols="3"></textarea>
              </div>
            </div>
          </div>
          <div class="form-row justify-content-center align-items-center">
            <div class="form-group">

              <div class="form-outline mb-4 form-group">
                <label for="securityQuestion">Security Question:</label>
                <input type="text" id="securityQuestion" class="form-control" formControlName="securityQuestion">
                <div
                  *ngIf="interacForm?.get('securityQuestion')?.invalid && (interacForm?.get('securityQuestion')?.dirty || interacForm?.get('securityQuestion')?.touched)"
                  class="alert alert-danger">
                  Security Question is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row justify-content-center align-items-center">
            <div class="form-group">

              <div class="form-outline mb-4 form-group">
                <label for="securityAnswer">Security Answer:</label>
                <input type="text" id="securityAnswer" class="form-control" formControlName="securityAnswer">
                <div
                  *ngIf="interacForm?.get('securityAnswer')?.invalid && (interacForm?.get('securityAnswer')?.dirty || interacForm?.get('securityAnswer')?.touched)"
                  class="alert alert-danger">
                  Security Answer is required.
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-danger btn-lg mx-2">Send Transfer</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
