<app-header [afterLogin]="true"></app-header>
<p>Please scan this QR for further QR payments.</p>
<div class="container-fluid justify-content-center">
  <img [src]="imageUrl" alt="Image">
  <hr>
  <button (click)="downloadPdf()"> Download PDF </button>
</div>

