<body>
<app-header [isHomePage]="true" ></app-header>
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <h1>Welcome to TBD Bank</h1>
    <h2>We are a team with vision of providing digital banking experience</h2>
    <a href="login" class="btn-get-started scrollto">Get Started</a>
  </div>
</section>
<main id="main">
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="assets/image2up.png" class="img-fluid about-image" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>TBD bank software is an easy and convenient digital banking system which helps
            customers to navigate easily using a user-friendly interface.</h3>
          <p class="fst-italic">
           Our services includes below features
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Fully digital account opening service</li>
            <li><i class="bi bi-check-circle"></i> Payment using QR code</li>
            <li><i class="bi bi-check-circle"></i> User friendly interface</li>
          </ul>
          <p>
            We aim for continuously improving customer experience and satisfaction along with streamlining banking
            operations digitally and making banking operations simple for customers
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Our bank offers a variety of services!</p>
        </div>
        <div class="row justify-content-center about-services-row">
          <div class="row padding-bottom">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mr-5" data-aos="fade-up">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="login">Interac</a></h4>
                <p>Send Money hassel free using our digital Interac payment service</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up"
                 data-aos-delay="150">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="login">Payment using QR code</a></h4>
                <p>Forgot your card? No problem!
                  QR code payment enables you to make your payments without card!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="row padding-top padding-bottom">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 mr-5" data-aos="fade-up"
                 data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="login">Third Party QR</a></h4>
                <p>Verify your account with one of partner services using QR code </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="450">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="login">Transactions</a></h4>
                <p>Send money or recieve money using the easy banking interface</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <span>Meet the Team</span>
        <h2>Meet the Team</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="../../../assets/Santhosh.jpeg" alt="">
            <h4>Santhosh Matla</h4>
            <span>Senior Software Engineer/Technical Lead</span>
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut
              aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="assets/img/team/team-2.jpg" alt="">
            <h4>Manikanta </h4>
            <span>Product Manager</span>
            <p>
              Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="assets/Anirudh.jpeg" alt="">
            <h4>Anirudh Ravi</h4>
            <span>Software Developer</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img class="team-member-img" src="assets/Jahnvi.jpeg" alt="" >
            <h4>Jahnvi Dave</h4>
            <span>Software Developer</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="assets/Jayanth.jpeg" alt="">
            <h4>Jayanth Chennupati</h4>
            <span>Software Developer</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer id="aboutFooter">
  <app-footer></app-footer>
</footer>


</body>
<router-outlet></router-outlet>
